<%
  data_attributes ||= {}
  data_attributes[:module] = 'app-escape-link'
%>
<div class="govuk-width-container">
  <%= link_to text, href, class: "app-c-escape-link govuk-link", rel: "nofollow", data: data_attributes %>
</div>
