<div class="app-c-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
