html {
  background-color: $layout__body_background;
  overflow-y: scroll;
}

html.govuk-template {
  background-color: initial;
  text-size-adjust: auto;
}

.govuk-width-container,
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.govuk-grid-row {
  margin-right: -20px;
  margin-left: -20px;
}

.govuk-grid-column-two-thirds,
.govuk-grid-column-two-thirds-from-desktop,
.govuk-grid-column-one-third {
  padding: 0 20px;
}


.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

// States
// Hide for the MVP version of the app
.govwales-removed,
.app-c-callout {
  display: none;
}

// Override two thirds column to make it 100% width
.govuk-grid-column-two-thirds-from-desktop,
.govuk-grid-column-full {
  width: 100%;
  float: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 60px;
}
