<footer class="footer" id="footer">
  <div class="footer__components container">
    <nav id="block-footer">
      <ul class="menu">
        <% t('govwales_footer.links').each do |link| %>
          <li><%= link_to link[:text], link[:href] %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="footer_logo container" id="footer_logo">
    <a href="<%= t('govwales_footer.logo.href') %>" class="footer__logo" id="footerlogo">
      <img src="/assets/footer-logo.svg" alt="<%= t('govwales_footer.logo.alt') %>">
      <span class="visually-hidden"><%= t('govwales_footer.logo.text') %></span>
    </a>
  </div>
</footer>
