<footer class="footer" id="footer">
  <div class="footer__components container">
    <nav id="block-footer">
      <ul class="menu">
        <% t('govwales_footer.links').each do |link| %>
           <li><%= link_to link[:text], link[:href] %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="footer_logo container" id="footer_logo">
    <%= sanitize(t('footer.logo')) %>
  </div>
</footer>
