.footer {
  background: $layout__footer_background;
  margin-top: 30px;
  padding-bottom: 10px;

  &__components {
    margin-top: 60px;
  }

  &__menu {
    line-height: 1.625rem;
    list-style: none;
    margin: 0 0 15px;
    padding: 0 0 18px;

    li {
      display: inline-block;
      margin: 0 25px 0 0;

      a {
        color: $link__footer;
        display: block;
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        text-decoration: none;

        &:hover,
        &:visited {
          text-decoration: underline;
        }

        &:focus {
          outline: 3px solid $states__focus;
        }
      }
    }

    &--primary {
      border-bottom: 2px solid $borders__footer_menu;

      li {
        a {
          font-size: 1.125rem;
          font-weight: bold;
        }
      }
    }
  }

  &__backtotop {
    background-color: $layout__footer_background_backtotop;
    min-height: 40px;
  }

  &__logo {
    margin-top: 60px;
    margin-bottom: 40px;

    a {
      color: $link__footer;
      display: inline-block;
      font-weight: normal;
      height: 38px;
      margin: 40px 0 0;
      width: 140px;

      &:hover,
      &:visited {
        color: $link__footer_hover;
        text-decoration: none;
      }

      &:focus {
        outline: 3px solid $states__focus;
      }
    }
  }
}

// No SVG fallback
.no-svg {
  .footer__logo {
    a {
      background-image: inline-image($png_brand_footer);
    }
  }
}
