.header {
  background: $background__masthead;

  &__components {
    padding: 20px;
    overflow: hidden;

    @media all and (min-width: 768px) {
      height: auto;
    }

    &__brand {
      a {
        float: left;
        margin: 0;
        padding: 0;
        width: 140px;
        height: 34px;
        color: $link__header_logo;
        text-decoration: underline;

        &:visited,
        &:active {
          color: $link__header_logo;
        }

        &:hover {
          color: $link__header_logo_hover;
        }

        &:focus {
          outline: 3px solid $states__focus;
        }
      }
    }

    &__language {
      float: right;

      a {
        text-decoration: none;
        color: #fff;
        background: #1f1f1f;
        padding: 10px 20px;
        font-size: 0.875em;
        font-weight: bold;
        display: inline-block;
        border: none;

        &:hover {
          background-color: #999999;
        }

        &:focus {
          color: #fff;
          outline: 3px solid $states__focus;
        }
      }
    }
  }
}
