<header id="wg_header" class="wg_header">
  <div class="header" id="header">
    <div class="header__components container">

      <div class="header__components__brand" id="wg_brand">
        <%=
          tag.a href: t('govwales_header.href'), title: t("govwales_header.title"), class: "header__brand", id: "wg_logo" do
            image_tag("govwales/wg_logo.svg", alt: t('govwales_header.title'))
          end
        %>
      </div>

      <div class="header__components__language" id="wg_language">
        <%=
          if I18n.locale == :cy
            link_locale = "en"
            text = "English"
            host = Rails.configuration.en_host
          else
            link_locale = "cy"
            text = "Cymraeg"
            host = Rails.configuration.cy_host
          end

          if controller_name.in?(%w[accessibility cookies privacy])
            url = url_for(host: host, locale: link_locale)
          else
            url = start_url(host: host, locale: link_locale)
          end

          link_to(text, url.sub("/#{link_locale}/", "/"), class: "language__link", hreflang: link_locale)
        %>
      </div>

    </div>
  </div>
</header>
