// Variables
$image_btn_left: 'govwales/arrow_left_white.svg';
$image_exit: 'govwales/exit.svg';
$image_anchor: 'govwales/anchor-up.svg';

// Theming
#main-content {
  .govuk-button {
    width: auto;
    text-decoration: none;
    color: $white;
    background-color: $btn;
    padding: 20px 20px 20px 50px;
    @include fontSize(18px);
    font-weight: bold;
    display: inline-block;
    border: none;
    box-shadow: none;

    &--start {
      background-image: image-url($image_btn_left);
      background-position: left center;
      background-repeat: no-repeat;

      // Hide govuk's right chervron
      svg {
        display: none;
      }
    }

    &:hover {
      background-color: $btn__hover;
    }

    &:focus {
      color: $white;
      box-shadow: none;
      outline: 3px solid $states__focus;
    }

    &:active {
      top: 0;
    }

    &:visited {
      background-color: $btn;
      color: $white;

      &:hover {
        background-color: $btn__hover;
      }
    }
  }
}

// Leave this site button
.app-c-escape-link {
  font-family: $base-font-family;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  background-image: image-url($image_exit);
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-color: $btn__exit;
  width: auto;
  left: 0;
  bottom: 0;
  z-index: 999;
  position: fixed;
  text-align: right;

  @media screen and (min-width: $screen-md) {
    display: inline-block;
    padding: 20px 50px 20px 20px;
    right: 20px;
    left: auto;
  }

  &:visited {
    background-color: $btn__exit;
  }

  &:hover {
    background-color: $btn__exit_hover;
  }

  &:focus {
    background-color: $btn__exit_hover;
    color: $white;
    box-shadow: none;
    outline: 3px solid $states__focus;
  }
}

// Back to top button
.footer__backtotop {
  a {
    background-image: image-url($image_anchor);
    background-size: 18px 13px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid $btn__sharebar_border;
    color: $btn__sharebar;
    display: inline-block;
    @include fontSize(16px);
    font-weight: bold;
    padding: 12px;
    padding-left: 36px;
    text-decoration: none;

    &:hover {
      background-color: $background__sharebar_hover;
    }

    &:focus {
      outline: 3px solid $states__focus;
    }
  }
}
