.app-c-escape-link {
  font-family: $base-font-family;
  text-decoration: none;
  padding: 20px;
  background-image: image-url('govwales/exit.svg');
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-color: $btn__exit;
  width: 100%;
  left: 0;
  z-index: 999;

  @media screen and (min-width: $screen-md) {
    width: auto;
    padding: 20px 50px 20px 20px;
  }


  &:hover {
    background-color: $btn__exit_hover;
  }

  &:focus {
    background-color: $btn__exit_hover;
    color: $white;
    box-shadow: none;
    outline: 3px solid $states__focus;
  }

  &:visited {
    background-color: $btn__exit;

    &:hover {
      background-color: $btn__exit_hover;
    }

    &:focus {
      background-color: $btn__exit_hover;
    }
  }
}
