.gem-c-cookie-banner {
  &#global-cookie-message {
    background-color: $cookie__background;
    padding: 20px 0 5px;

    p {
      font-family: $base-font-family;
      @include fontSize(18px);
      @include lineHeight(24px);
      margin-bottom: 15px;
    }
  }

  .govuk-grid-column {
    &-two-thirds {
      width: 100%;

      @media screen and (min-width: $screen-md) {
        width: 90%;
      }
    }
    
    &-one-third {
      width: 100%;

      @media screen and (min-width: $screen-md) {
        width: 10%;
      }
    }
  }

  &__hide-button {
    background-color: inherit;
    background-image: image-url($svg_icon__close);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border: 0;
    color: $base__link;
    font-family: $base-font-family;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    padding-right: 20px;
    position: initial;
    right: auto;
    text-decoration: none;
    @include fontSize(14px);
    @include lineHeight(20px);

    &:visited,
    &:active {
      color: $base__link;
    }

    &:hover,
    &:focus {
      color: $base__link_hover;
      background-image: image-url($svg_icon__close__hover);
    }

    &:focus {
      box-shadow: none;
      outline: 3px solid $states__focus;
      background-color: inherit;
    }

    @media screen and (min-width: $screen-md) {
      float: right;
    }
  }
}