#main-content {
  form {
    background: $form__background;
    padding: 20px;
    margin-bottom: 20px;

    @media all and (min-width: $screen-md) {
      padding: 40px;
    }

    // Form title
    .gem-c-title__text {
      padding: 0;
      border: none;
    }

    .govuk-hint {
      font-family: $base-font-family;
    }

    .govuk-caption-xl {
      font-family: $base-font-family;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      @include fontSize(14px);
      color: $darkgrey;
      font-weight: bold;
      margin-bottom: 0;
    }

    // Form inputs
    .govuk-radios,
    .govuk-checkboxes {
      &__item {
        font-family: $base-font-family;
        position: relative;
        min-height: auto;
        float: left;
        clear: left;
        padding: 0;
      }

      &__label {
        font-family: $base-font-family;
        position: relative;
        z-index: 2;
        background-color: $form__checkbox_label_background;
        padding: 20px 20px 20px 50px;
        margin-bottom: 10px;
        font-weight: normal;

        &:hover {
          background-color: $form__checkbox_label_background--hover;
        }

        &:before {
          top: 22px;
          left: 20px;
          height: 20px;
          width: 20px;
          border: 1px solid $form__input_border;
          background-color: $form__input_background;
        }
      }

      &__input {

        &:focus {
          ~ label {
            &:before {
              border-width: 1px !important;
            }
          }
        }
      }
    }

    // Form checkboxes
    .govuk-checkboxes {
      &__label {
        &:after {
          position: absolute;
          top: 23px;
          left: 26px;
          width: 4px;
          height: 11px;
          border: solid $form__checkbox__icon;
          border-width: 0 4px 4px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    // Form radio buttons
    .govuk-radios {
      &__label {
        &:after {
          height: 14px;
          width: 14px;
          top: 25px;
          left: 23px;
          background-color: $form__radio__icon;
          border-radius: 50%;
          border: none;
        }
      }
    }

    // Form group
    .govuk-form-group {
      &--error {
        padding-left: 0;
        border-left: none;
      }
    }

    // Submit button
    .govuk-button {
      font-family: $base-font-family;
      background-color: $form__globalsearch_btn;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      font-size: 1.25rem;
      padding: 15px 20px;
      margin-bottom: 0;
      box-shadow: none;

      &:hover {
        background-color: $form__globalsearch_btn_hover;
      }

      &:active {
        top: 0;
      }
    }
  }

  .govuk-error-summary,
  .govuk-error-message {
    font-family: $base-font-family;
    color: $form__text;
    background: $background__callout_alert;
    border: none;
    border-left: $borders__call_out_border_width solid $borders__text_border_alert_right;
    background-image: image-url($png_call_out_alert);
    background-repeat: no-repeat;
    background-position: 15px 22px;
    background-size: $sm__backgroundsize_25;

    a {
      color: $link;

      &:hover {
        color: $link__hover;
      }

      &:focus {
        background: none;
        box-shadow: none;
        outline: 3px solid $states__global_cta_focus;
      }

      &:visited {
        color: $link;

        &:hover {
          color: $link__hover;
        }
      }
    }
  }

  .govuk-error-message {
    padding: 20px;
    border-left: 3px solid $borders__text_border_alert_right;
  }
}
