#main-content {
  .navigation {
    &__contents {
      border-bottom: 2px $borders__content_topnav solid;
      margin-bottom: 30px;
      margin-top: 15px;
      padding-bottom: 20px;

      @media screen and (min-width: $screen-sm) {
        margin-top: -7px;
      }

      h2 {
        @include fontSize(20px);
        @include lineHeight(24px);
        margin-bottom: 10px;
        margin-top: 0;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
