.app-c-escape-link {
  background-color: govuk-colour('white');
  border-top: 1px solid $govuk-border-colour;
  bottom: 0;
  position: fixed;
  position: sticky; // scss-lint:disable DuplicateProperty
  text-align: center;
  width: 100%;

  .govuk-link {
    @include govuk-font($size: 19, $weight: bold);
    color: $govuk-error-colour;
    display: block;
    padding: govuk-spacing(6) 0;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: darken($govuk-error-colour, 5%);
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}
