.app-c-escape-link {
  @include govuk-width-container;

  bottom: 0;
  position: fixed;
  position: sticky; // scss-lint:disable DuplicateProperty
  right: 0;
  text-align: right;

  .govuk-link {
    @include govuk-font($size: 19, $weight: bold);

    display: inline-block;
    padding: govuk-spacing(4) govuk-spacing(3);

    &:link,
    &:visited,
    &:hover,
    &:active {
      background-color: govuk-colour('black');
      color: govuk-colour('white');
    }

    &:focus {
      background-color: $govuk-focus-colour;
      color: $govuk-focus-text-colour;
    }
  }
}
