// Helpers
@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';

// Components
@import 'govuk_publishing_components/components/back-link';
@import 'govuk_publishing_components/components/breadcrumbs';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/checkboxes';
@import 'govuk_publishing_components/components/cookie-banner';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/error-summary';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/layout-footer';
@import 'govuk_publishing_components/components/layout-header';
@import 'govuk_publishing_components/components/notice';
@import 'govuk_publishing_components/components/radio';
@import 'govuk_publishing_components/components/skip-link';
@import 'govuk_publishing_components/components/table';
@import 'govuk_publishing_components/components/title';

$app-covid-yellow: #ffe114;
$app-covid-grey: #272828;

@import 'components/action-link';
@import 'components/action-panel';
@import 'cookies-settings';
